.hautdepage
{
	position:fixed;
	background-color:black;
	height:10%;
	width:100%;
	left:0%;
	top:0%;
	z-index:10;
}

h1
{
	position:absolute;
	color:#4300A6;
	top:15%;
	left:42%;
	font-family:"Pixeled";
	font-size:150%;	
}

.nomdusite
{
	position: fixed;
	top:-2.4%;
	bottom: 100%;
	left:10%;
	color:white;
	z-index:10;
	font-size:120%;
}

.free
{
	position: fixed;
	top:1.6%;
	bottom: 100%;
	left:12.5%;
	color:white;
	z-index:10;
	font-size:120%;
}

.nomdusite:hover
{
	position: fixed;
	top:-2.4%;
	bottom: 100%;
	left:8%;
	color:white;
	z-index:20;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: ease-out;
}

.free:hover
{
	position: fixed;
	top:1.6%;
	bottom: 100%;
	left:10.5%;
	color:white;
	z-index:20;
	transition-duration: 1s;
}

h1{
animation: myfirst 10s infinite;
-webkit-animation: myfirst 10s infinite;
z-index: 9;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%{color:red;}
    25%{color: yellow;}
    50%{color: blue;}
    100%{color: green;}
}

.logof
{
	position: fixed;
	z-index:21;
	top:2.5%;
	left:75%;
	height:50px;
	width:50px;
	 filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.logof:hover
{
	position: fixed;
	z-index:21;
	top:2.5%;
	left:75%;
	height:50px;
	width:50px;
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    transition-duration: 1s;
}

.logot
{
	position: fixed;
	z-index:21;
	top:2.78%;
	left:80%;
	height:42px;
	width:42px;
	 filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.logot:hover
{
	position: fixed;
	z-index:21;
	top:2.78%;
	left:80%;
	height:42px;
	width:42px;
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    transition-duration: 1s;
}

.logoy
{
	position: fixed;
	z-index:21;
	top:2.78%;
	left:85%;
	height:42px;
	width:42px;
	 filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.logoy:hover
{
	position: fixed;
	z-index:21;
	top:2.78%;
	left:85%;
	height:42px;
	width:42px;
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    transition-duration: 1s;
}

#all
{
	position: fixed;
	z-index: 10;
	text-align:center;
    width: 100%;
    top:2%;
}

.hautdepage
{
	position:fixed;
	background-color:black;
	height:11.5%;
	width:100%;
	left:0%;
	top:0%;
	z-index:10;
	margin-right: 2%;
}

.ACCUEIL
{
	position:absolute;
	color:white;
	top:0%;
	text-align:center;
	width: 99%;	
	z-index:10;
	text-decoration:none;
	font-size:150%;
	font-family:"Pixeled";
}

.JEUX
{
	position:absolute;
	color:white;
	top:0%;
	text-align:center;
	z-index:2;
	text-decoration:none;
	font-size:150%;
	font-family:"Pixeled";
}

.ACTUALITE
{
	position:absolute;
	color:white;
	top:0%;
	z-index:2;
	text-decoration:none;
	font-size:150%;
	font-family:"Pixeled";
}

.ACCUEIL {
  margin: 0;
  font: 400 80px/1 "Pixeled";
  /*le texte accueil et tout*/
}

.ACCUEIL {
  top:14px;
  font-size: 22px;
  z-index:10;
  /*configuration du texte*/
  padding: .25em 15px;
  position: relative;
  transition: .5s ease;
  color: red;
  text-decoration: none;
  text-transform: uppercase;
}

.ACCUEIL::before {
  content: "";
  position: absolute;
  left: 0;
  top: 24px;
  bottom: 0;
  /*bloc d'animation*/
  height:35px;
  width: 5px;
  transition: .5s ease;
  background: white;
  z-index: -1;
}

.ACCUEIL:hover {
  color: red;
  /*couleur du texte au survol*/
}

.ACCUEIL:hover::before {
  width: 100%;
  /*animation*/
}

.JEUX {
  margin: 0;
  font: 400 80px/1 "Pixeled";
  /*le texte accueil et tout*/
}

.JEUX {
  top:14px;
  font-size: 22px;
  z-index:10;
  /*configuration du texte*/
  padding: .25em 15px;
  position: relative;
  transition: .5s ease;
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
}

.JEUX::before {
  content: "";
  position: absolute;
  left: 0;
  top: 24px;
  bottom: 0;
  /*bloc d'animation*/
  height:35px;
  width: 5px;
  transition: .5s ease;
  background: white;
  z-index: -1;
}

.JEUX:hover {
  color: orange;
  /*couleur du texte au survol*/
}

.JEUX:hover::before {
  width: 100%;
  /*animation*/
}

.ACTUALITE {

  font: 400 80px/1 "Pixeled";
  /*le texte accueil et tout*/
}

.ACTUALITE {
  top:14px;
  font-size: 22px;
  z-index:10;
  /*configuration du texte*/
  padding: .25em 15px;
  position: relative;
  transition: .5s ease;
  color: yellow;
  text-decoration: none;
  text-transform: uppercase;
}

.ACTUALITE::before {
  content: "";
  position: absolute;
  left: 0;
  top: 24px;
  bottom: 0;
  /*bloc d'animation*/
  height:35px;
  width: 5px;
  transition: .5s ease;
  background: white;
  z-index: -1;
}

.ACTUALITE:hover {
  color: yellow;
  /*couleur du texte au survol*/
}

.ACTUALITE:hover::before {
  width: 100%;
  /*animation*/
}

.rainbow
{
	position: absolute;
	top:34%;
	left:5%;
	height:360px;
	width:640px;
	z-index:2;
}

.rainbowbackground
{
	position: fixed;
	left:0%;
	z-index:1;
}

.titre
{
	position: absolute;
	top:16%;
	font-size: 30px;
	left:22%;
	color:white;
	font-family: "Lemon/Milk";
	z-index:3;
}

h2
{
		position: absolute;
	top:40%;
	font-size: 30px;
	left:60%;
	color:white;
	font-family: "Lemon/Milk";
	z-index:3;
}

.etoile 
{
	position: absolute;
	top:50%;
	left:60%;
	z-index:4;
	height:50px;
	width:50px;
}

.etoile2
{
	position: absolute;
	top:50%;
	left:65%;
	z-index:4;
	height:50px;
	width:50px;
}

.etoile3
{
	position: absolute;
	top:50%;
	left:70%;
	z-index:4;
	height:50px;
	width:50px;
}

.etoile4
{
	position: absolute;
	top:50%;
	left:75%;
	z-index:4;
	height:50px;
	width:50px;
}

.etoile5
{
	position: absolute;
	top:50%;
	left:80%;
	z-index:4;
	height:50px;
	width:50px;
	-webkit-filter: grayscale(100%);
}

.description
{
	position: absolute;
	top:60%;
	left:55%;
	color:white;
	font-family: "Lemon/Milk Light";
	z-index:5;
}

.prérequis
{
	position: absolute;
	top:87.5%;
	left:6.2%;
	font-size:35px;
	color:white;
	font-family: "Lemon/Milk Light";
	z-index:6;
}

ul
{
		position: absolute;
	top:98.3%;
	left:5%;
	font-size:25px;
	color:white;
	font-family: "Lemon/Milk Light";
	z-index:5;
}

.bloc
{
	top:90%;
	z-index:5;
	left:5%;
	border-radius:20px;
	position: absolute;
	width:14%;
	height:7%;
	background: black;
}

.valide
{
	position: absolute;
	z-index:5;
	top:91.5%;
	left:16%;
	height:35px;
	width:35px;
}

.bloc2
{
	top:115%;
	z-index:5;
	left:5%;
	border-radius:20px;
	position: absolute;
	width:11.3%;
	height:7%;
	background: black;
}

.etape1txt
{
	position: absolute;
	top:112.5%;
	left:6.2%;
	font-size:35px;
	color:white;
	font-family: "Lemon/Milk Light";
	z-index:6;
}

.txtetape1
{
	position: absolute;
	top:125%;
	left:5%;
	font-size:25px;
	color:white;
	font-family: "Lemon/Milk Light";
	z-index:5;
}

.logoetape1
{
	position: absolute;
	z-index:7;
	height:5%;
	width:2.5%;
	top:116%;
	left:13%;
}

.salut
{
	position: absolute;
	z-index: 9;
	font-family: "Lemon/Milk";
	color:white;
	top:133%;
	left:5%;
}

.bloc3
{
	top:141%;
	z-index:5;
	left:5%;
	border-radius:20px;
	position: absolute;
	width:11.3%;
	height:7%;
	background: black;
}

.etape2txt
{
	position: absolute;
	top:138.5%;
	left:6.2%;
	font-size:35px;
	color:white;
	font-family: "Lemon/Milk Light";
	z-index:6;
}

.logoetape2
{
	position: absolute;
	z-index:7;
	height:5%;
	width:2.5%;
	top:142%;
	left:13.5%;
}

.txtetape2
{
	position: absolute;
	top:150%;
	left:5%;
	font-size:25px;
	color:white;
	font-family: "Lemon/Milk Light";
	z-index:5;
}

.etape3txt
{
	position: absolute;
	top:157.5%;
	left:6.2%;
	font-size:35px;
	color:white;
	font-family: "Lemon/Milk Light";
	z-index:6;
}

.logoetape3
{
	position: absolute;
	z-index:7;
	height:5%;
	width:2.5%;
	top:161%;
	left:13.5%;
}

.txtetape3
{
	position: absolute;
	top:170%;
	left:5%;
	font-size:25px;
	color:white;
	font-family: "Lemon/Milk Light";
	z-index:5;
}

.bloc4
{
	top:160%;
	z-index:5;
	left:5%;
	border-radius:20px;
	position: absolute;
	width:11.3%;
	height:7%;
	background: black;
}

.bloc5
{
	top:181%;
	z-index:5;
	left:5%;
	border-radius:20px;
	position: absolute;
	width:11.3%;
	height:7%;
	background: black;
}

.etape4txt
{
	position: absolute;
	top:178.5%;
	left:6.2%;
	font-size:35px;
	color:white;
	font-family: "Lemon/Milk Light";
	z-index:6;
}

.logoetape4
{
	position: absolute;
	z-index:7;
	height:5%;
	width:2.5%;
	top:182%;
	left:13.5%;
}

.txtetape4
{
	position: absolute;
	top:191%;
	left:5%;
	font-size:25px;
	color:white;
	font-family: "Lemon/Milk Light";
	z-index:5;
}